<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Xl0MLSgwlXj5R5yjx3MJmXTsWewPZi8&callback=inicializarMapa" async defer></script>
    <script src="./scripts/script.js"></script>
</head>
    <title>Locais de Risco</title>
</head>
<body>
    <div>
        <a href="/local-form.html">Relatar local de risco</a>
    </div>
    <div id="mapa" style="height: 700px;"></div>
    <div id="local-info" style="display: none;">
        <h2 id="local-endereco"></h2>
        <h3 id="local-descricao"></h3>
        <p id="local-latitude"></p>
        <p id="local-longitude"></p>
        <img id="local-imagem" alt="Imagem do local">
      </div>
</body>
</html>