<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Xl0MLSgwlXj5R5yjx3MJmXTsWewPZi8&callback=inicializarMapa" async defer></script>
    <script src="./scripts/script.js"></script>
</head>
    <title>Locais de Risco</title>
</head>
<body>
    <div id="mapa" style="height: 700px;"></div>
    <div id="local-info" style="display: none;">
        <h2 id="local-endereco"></h2>
        <h3 id="local-descricao"></h3>
        <p id="local-latitude"></p>
        <p id="local-longitude"></p>
      </div>
</body>
</html>